@page "/"

<PageTitle>Home</PageTitle>

<div class="bg-image text-light d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1>Welcome to your digital library</h1>
        <p>Here you can see your saved books which you have physically. </p>
    </div>
</div>

