<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b2c9c3d0-15f8-4d91-89b5-a59e783650d5/resourcegroups/BookDetailsAPI20250117221511ResourceGroup/providers/Microsoft.Web/sites/BookDetailsAPI</ResourceId>
    <ResourceGroup>BookDetailsAPI20250117221511ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b2c9c3d0-15f8-4d91-89b5-a59e783650d5/resourceGroups/BookDetailsAPI20250117221511ResourceGroup/providers/Microsoft.ApiManagement/service/BookDetailsAPI/apis/BookDetailsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookdetailsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9dabca6b-0afb-48f6-8884-1eef2413187f</ProjectGuid>
    <MSDeployServiceURL>bookdetailsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BookDetailsAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>